<h2>Site Admin</h2>
<div id="users">
  <table class="pretty">
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Admin</th>
      <th>Phone</th>
      <th>Orders</th>
      <th>Customers</th>
      <th>Sign Ins</th>
      <th>Current Sign In</th>
      <th>Last Sign In</th>
      <th>Current IP</th>
      <th>Last IP</th>
      <th>User Since</th>
    </tr>
    <% if @users and @users.size > 0 %>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.email, user %></td>
        <td><%= user.profile.name  %></td>
        <td><%= user.admin? %></td>
        <td><%= phone user.profile.phone  %></td>
        <td><%= user.orders.count %></td>
        <td><%= user.customers.count %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= datetime user.current_sign_in_at  %></td>
        <td><%= datetime user.last_sign_in_at  %></td>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td><%= date user.created_at %></td>
      </tr>
      <% end %>
    <% end %>
  </table>

