<%= form_tag customers_path, :method => 'get', :id => 'customers_search' do %>
  <p>
    <%= label_tag 'Search customer by phone' %>
    <%= text_field_tag :search, params[:search] %>
    <%= link_to 'New Customer', new_customer_path, :remote => true %>
  </p>
<% end %>

<div id="newcustomer"></div>
<div id="editcustomer"></div>

<h2>Matched Customers</h2>
<div id="customers"></div>

<div id="neworder"></div>
<div id="editorder"></div>

<h2>Recent Orders</h2>
<div id="recentorders">
  <%= render 'orders' %><br/>
  <%= will_paginate @orders %>
</div>

<div id="map"></div>
